/**************************************** COLORS *********************************/
:root{
    --bottom_gray: #F3EEEA;
    --bg_green: #009688;
    --bg_lightgray: #D3DBDB;
    --alert_blue: #8EDAFC;
    --text_gray: #B1B1B1;
    --app_gray: #EAEAEA;
    --small_gray: #758793;
    --button_gray: #6B7376;
}

/****************************************** GENERAL ********************************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom,
      var(--bg_green) 0px,
      var(--bg_green) 120px,
      var(--bg_lightgray) 100px,
      var(--bg_lightgray) 100%);
}

h2{
    font-size: 1.7rem;
}

#root{
    height: 100%;
}

/********************************************** APP ***********************************/

.app_container{
    width: 80%;
    display: flex;
    height: 90%;
    margin: auto;
    min-width: 1200px;
    max-width: 1200px;
    padding-top: 10px;

}

/************************************************ ASIDE **************************** */
.aside_top,
.main_top{
    background-color: var(--app_gray);
    height: 110px;
}

.aside{
    border-right: 1px solid var(--bg_lightgray);
    width: calc((100% / 3) * 1);
    height: 100%;
    overflow: hidden;
}

.message_alert{
    height: 100px;
    background-color: var(--alert_blue);
}

.filter_contacts{
    height: 80px;
    background-color: var(--app_gray);
}

.contacts{
    height: calc(100% - 290px);
    background-color: white;
    overflow-y: scroll;
}

.user img,
.selected img{
    border-radius: 50%;
    width: 90px;
}

.user,
.selected{
    align-items: center;
    padding-left: 20px;
}

.user_options{
    color: var(--text_gray);
    font-size: 2.5rem;
    vertical-align: middle;
}

.bell_logo{
    background-color: white;
    width: 70px;
    height: 70px;
    font-size: 2rem;
    color: var(--alert_blue);
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
}

.notif_text{
    margin-left: 10px;
}

.toggle_notif{
    color: var(--small_gray);
    text-decoration: underline;
}

.input_container{
    font-size: 1.3rem;
    vertical-align: middle;
    background-color: white ;
    width: 95%;
}

.input_container i,
.input_container input{
    padding: 10px 0px;
}

.input_container i{
    color: var(--text_gray);
    padding-left: 20px;
}

.input_container input{
    border: none;
    appearance: none;
    width: 80%;
    padding-left: 20px;
}

.input_container input:focus,
.message_input input:focus{
    outline: none;
}

.contact{
    padding: 20px 30px;
    border-bottom: 1px solid var(--app_gray);
}

.contact img{
    border-radius: 50%;
}

/************************************************* MAIN *********************************/

.main_message{
    height: calc(100% - 210px);
    background-image: url(/milestone_1/assets/img/mine.jpg);
    overflow-y: scroll;
}

.bottom_input{
    height: 100px;
    background-color: var(--bottom_gray);
}

.last_access{
    color: var(--small_gray);
}

.emotes,
.voice{
    font-size: 3rem;
    text-align: center;
    line-height: 100px;
    color: var(--button_gray);
}

.message_input input{
    width: 100%;
    margin-top: 10px;
    height: 75px;
    border: none;
    border-radius: 10px;
    padding-left:30px;
    font-size: 1.2rem;
}